<launch>
    <rosparam file="$(find graspberry_robot)/config/hardware.yaml" command="load"/>
    <rosparam file="$(find graspberry_robot)/config/controllers.yaml" command="load"/>
    <rosparam file="$(find graspberry_robot)/config/joint_limits.yaml" command="load"/>

    <node name="graspberry_robot" pkg="graspberry_robot" type="graspberry_robot_node" output="screen">
        <param name="robot_name" value="scara_arm" />
    </node>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
        args="
            /scara_arm/joint_state_controller
            /scara_arm/position/joint_0_controller
            /scara_arm/position/joint_1_controller
            /scara_arm/position/joint_2_controller
        "/>
</launch>
