<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="PPParm">

<xacro:arg name="tf_prefix" default=""/>  <!-- use a prefix on a tf -->


<!-- Define link1 of 3dof Manip -->
<link name="$(arg tf_prefix)/PL1">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="1"/>
    <inertia
      ixx="1.0" ixy="0.0" ixz="0.0"
      iyy="1.0" iyz="0.0" 
      izz="1.0"/>
  </inertial>
  <visual>
    <geometry>
      <mesh filename="package://thorvald_description/meshes/PPP_arm/PL1.STL"/>
    </geometry>
    <material name="whiter">
      <color rgba="1 1 1 1"/>
    </material>
  </visual>
</link>


<!-- 
<joint name="$(arg tf_prefix)/uvtun_frame_PL1" type="fixed"> 
  <parent link="$(arg tf_prefix)/uvtun_frame"/>
  <child link="$(arg tf_prefix)/PL1"/>
  <origin xyz="0.06 0.6 0.53" rpy="1.5707 0 0"/>  
</joint>  -->
<!-- Define Transformation from parent uv_tun to child Plink1 frame -->



<!-- Define link2 of 3dof Manip -->
<link name="$(arg tf_prefix)/PL2">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="1"/>
    <inertia
      ixx="1.0" ixy="0.0" ixz="0.0"
      iyy="1.0" iyz="0.0" 
      izz="1.0"/>
  </inertial>
  <visual>
    <geometry>
      <mesh filename="package://thorvald_description/meshes/PPP_arm/PL2.STL"/>
    </geometry>
    <material name="whiter">
      <color rgba="1 1 1 1"/>
    </material>
  </visual>
</link>


<joint name="$(arg tf_prefix)/PL1_PL2" type="fixed">
  <parent link="$(arg tf_prefix)/PL1"/>
  <child link="$(arg tf_prefix)/PL2"/>
  <origin xyz="0.1155 -0.0493 0.10975" rpy="0 0 0"/> 
</joint> 
<!-- Define Transformation from parent PL1 to child PL2 frame -->


<!-- Define link3 of 3dof Manip -->
<link name="$(arg tf_prefix)/PL3">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="1"/>
    <inertia
      ixx="1.0" ixy="0.0" ixz="0.0"
      iyy="1.0" iyz="0.0" 
      izz="1.0"/>
  </inertial>
  <visual>
    <geometry>
      <mesh filename="package://thorvald_description/meshes/PPP_arm/PL3.STL"/>
    </geometry>
    <material name="whiter">
      <color rgba="1 1 1 1"/>
    </material>
  </visual>
</link>


<joint name="$(arg tf_prefix)/PL2_PL3" type="fixed">
  <parent link="$(arg tf_prefix)/PL2"/>
  <child link="$(arg tf_prefix)/PL3"/>
  <origin xyz="0.079 -0.128 0.468" rpy="0 0 0"/> 
</joint> -->
<!-- Define Transformation from parent PL2 to child PL3 frame -->



<!-- Define gripper of 3dof Manip -->
<link name="$(arg tf_prefix)/gripper">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="1"/>
    <inertia
      ixx="1.0" ixy="0.0" ixz="0.0"
      iyy="1.0" iyz="0.0" 
      izz="1.0"/>
  </inertial>
  <visual>
    <geometry>
      <mesh filename="package://thorvald_description/meshes/PPP_arm/gripper.STL"/>
    </geometry>
    <material name="whiter">
      <color rgba="1 1 1 1"/>
    </material>
  </visual>
</link>


<joint name="$(arg tf_prefix)/PL3_Gripper" type="fixed">
  <parent link="$(arg tf_prefix)/PL3"/>
  <child link="$(arg tf_prefix)/gripper"/>
  <origin xyz="0.15 0.285 0.205" rpy="0 0 0"/> 
</joint> -->
<!-- Define Transformation from parent PL3 to child gripper frame -->


<!-- Camera models -->
    <xacro:include filename="$(find rasberry_perception)/description/d435/_d435.urdf.xacro"/>
    <xacro:property name="DEG2RAD" value="${3.1415926535897931/180}"/>

    <!-- 2D Camera Model -->
    <link name="linear_3dof_2d_camera_link"/>
    <sensor_d435 parent="linear_3dof_2d_camera_link">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </sensor_d435>

    <joint name="linear_3dof_2d_camera_home_link_joint" type="fixed">
        <!-- <origin xyz="-0.255 -0.115 -0.0675" rpy="0 ${15*DEG2RAD} ${90*DEG2RAD}"/> -->
        <origin xyz="0.05685 -0.0275 0.8" rpy="0 ${15*DEG2RAD} ${90*DEG2RAD}"/>
        <parent link="PL1"/>
        <child link="linear_3dof_2d_camera_link"/>
    </joint>
    
    <!-- 3D Camera Model -->
    <link name="linear_3dof_3d_camera_link"/>
    <sensor_d435 parent="linear_3dof_3d_camera_link">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </sensor_d435>

    <joint name="linear_3dof_3d_camera_gripper_link_joint" type="fixed">
        <origin xyz="-0.0545 0.0 -0.025" rpy="0 ${-90*DEG2RAD} 0"/>
        <parent link="gripper"/>
        <child link="linear_3dof_3d_camera_link"/>
    </joint>

    

</robot>

