<?xml version="1.0" ?>

<launch>

  <!-- This file provides an example for launching a Thorvald robot.
       Copy this file, together with any config files you wish to edit, to your own package before editing. -->


  <!-- Robot name and tf prefix -->
  <arg name="robot_name" default="" />
  <arg name="tf_prefix" default="" />
  <arg name="rviz" default="false" />
  <arg name="group_control" default="false" />
  <arg name="traj_control" default="true" />
  <arg name="realsense_sim" default="false" />


  <arg name="start_pose_x" default="10" />
  <arg name="start_pose_y" default="-2.64" />
  <arg name="start_pose_z" default="0" />
  <arg name="start_pose_R" default="0" />
  <arg name="start_pose_P" default="0" />
  <arg name="start_pose_Y" default="0" />


<!-- Set Gazebo Parameters --> 
  <arg name="simple_sim" default="true"/>
  <arg name="world_name" default="riseholme" if="$(arg simple_sim)"/>
  <arg name="with_actors" default="false"/>
  <arg name="with_gui" default="true" />
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>


  <!-- Include actors in the Gazebo world? -->
  <include file="$(find rasberry_gazebo)/launch/include_actors.launch" if="$(arg with_actors)"/>


  <!-- GRASPberry Thorvald bringup -->
  <include file="$(find graspberry_bringup)/launch/tall_robot_manip.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
  </include>


  <!-- Start gazebo and load the world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg simple_sim)">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg with_gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="world_name" value="$(find graspberry_gazebo)/worlds/$(arg world_name).world"/>
  </include>


  <!-- spawn robot in gazebo -->   
  <node pkg="gazebo_ros" type="spawn_model" name="spawner" args="-urdf -param /robot_description -model thorvald_ii -x $(arg start_pose_x) -y $(arg start_pose_y) -z $(arg start_pose_z) -R $(arg  start_pose_R)  -P $(arg start_pose_P)  -Y $(arg start_pose_Y)"/>


  <include file="$(find graspberry_gazebo)/launch/scara_gazebo_controller.launch">  <!-- launch ros_control in gazebo -->
      <arg name="group_control" value="$(arg group_control)" />
      <arg name="traj_control" value="$(arg traj_control)" />
  </include>

  <!--<include file="$(find realsense_gazebo_plugin)/launch/realsense.launch" if="$(arg realsense_sim)" /> -->
  <!--<include file="$(find realsense_gazebo_plugin)/launch/depth_proc.launch" if="$(arg realsense_sim)" /> -->  <!-- generate a point cloud from the depth image-->


  
  <node if="$(arg rviz)"
    pkg="rviz" type="rviz" name="graspberry_rviz"
    args="-d $(find graspberry_bringup)/rviz/graspberry.rviz" />  <!-- rviz config file -->

</launch>
